extends layout
block link
  link(rel="stylesheet", href="mycss/login.css")
block content
  div(style='height:300px; width:500px; color:white; margin-left:800px; margin-top:50px; border:1px white solid; padding:10px')
    h3 Login !!
    form.form-group(name='login' method='POST' action='/login')
      label(for='username') USERNAME :
      input.form-control(name='username' id='username' type='text' required='true')
      br
      label(for='password') PASSWORD :
      input.form-control(id='password' name='password' type='password' required='true')
      br
      input.btn.btn-success(type='submit' value='LOGIN')
      input.btn.btn-secondary(type='reset' value='CANCEL')
